
.webui-logo {
    background-image: url('../images/nuvla-logo.png');
}

.webui-header {
    color: white;
    background-color: #ac0505;
}

.webui-footer {
    color: white;
    background-color: #ac0505;
}
