*~
*.iml
.idea
.nrepl*
out
target
*.DS_Store
*/.cljs_rhino_repl/*
figwheel_server.log
resources/public/webui/assets/css/version.css
resources/public/webui/assets/css/codemirror.css
resources/public/webui/js/webui.js
resources/public/authn/js/authn.js
resources/public/legacy/js/legacy.js

