*~
*.iml
.idea
.nrepl*
out
target
.DS_Store
*/.cljs_rhino_repl/*
figwheel_server.log
.rebel_readline_history
doo-index.html
.lein-*

resources/public/css/version.css
resources/public/css/codemirror.css

resources/public/js

package.json
package-lock.json
node_modules

.shadow-cljs
