
/* Import the Roboto fonts for use in the default theme. */
/* FIXME: These should be served locally. */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300";

/*
  Override the re-com font definitions.
*/
html, body {
    font-family: Roboto, 'Segoe UI', sans-serif;
}

/*
  Styles on the webui-wrapper and webui-container allow for a 'sticky' footer
  that stays at the bottom of the window even if there's insufficient content.
*/
#webui-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#webui-container {
    flex: 1;
}

/*
  Inserts a theme-dependent image. Themes would normally override only the
  URL for the background image itself.
*/
.webui-logo {
    background-image: url('../images/slipstream-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.webui-header {
    color: white;
    background-color: #36454f;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #d3d3d3;
}

.webui-footer {
    color: white;
    background-color: #36454f;
    padding: 0.5em;
    border-style: none;
    font-family: 'Roboto Condensed', 'Segoe UI', san-serif;
    font-weight: lighter;
}

.webui-contents {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-style: none;
}

/*
  The following styles apply to the 'column-wise' tables and to the
  formatted display of resource documents.
*/
.webui-column {
    padding: 1em;
}

.webui-column-header {
    font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
    font-weight: bold;
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
}

.webui-row-header {
    font-weight: bold;
}

/*
  Block-level buttons are not possible without this style.  This forces
  the override of the default style to allow the button to expand
  horizontally to cover the width of its parent.
*/
.webui-block-button > div {
    flex: 1 0 auto !important;
}

.webui-breadcrumbs {
    background-color: lightsteelblue;
}
