
/* Import the Roboto fonts for use in the default theme. */
/* FIXME: These should be served locally. */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic"
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300"

.webui-logo {
    background-image: url('../images/slipstream-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.webui-column-header {
    font-weight:    bold;
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
    #background-color: #eee;
}

.webui-row-header {
    font-weight:    bold;
}

.webui-header {
    color: black;
    background-color: #f5f5f5;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #d3d3d3;
}

.webui-footer {
    color: black;
    background-color: #f5f5f5;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #d3d3d3;
}

.webui-contents {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-style: none;
}

.webui-column {
    padding: 1em;
}

.webui-block-button > div {
    flex: 1 0 auto !important;
}
