
/* Import the Roboto fonts for use in the default theme. */
/* FIXME: These should be served locally. */
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";
@import "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300";

/*
  Override the re-com font definitions.
*/
html, body {
    font-family: Roboto, 'Segoe UI', sans-serif;
}

/*
  Styles on the webui-wrapper and webui-container allow for a 'sticky' footer
  that stays at the bottom of the window even if there's insufficient content.
*/
#webui-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

#webui-container {
    flex: 1;
}

/*
  Inserts a theme-dependent image. Themes would normally override only the
  URL for the background image itself.
*/
.webui-logo {
    background-image: url('../images/slipstream-logo.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.webui-header {
    height: 50px; /* from garden: header-height */
    color: whitesmoke;
    background-color: #36454f;
}

.webui-footer {
    color: white;
    background-color: #36454f;
    padding: 0.5em;
    border-style: none;
    font-family: Roboto, 'Segoe UI', san-serif;
    font-weight: lighter;
}

.webui-contents {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-style: none;
}

/*
  The following styles apply to the 'column-wise' tables and to the
  formatted display of resource documents.
*/
.webui-column {
    padding: 0.25em;
}

.webui-column-header {
    font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
    font-weight: bold;
    border-style: none none solid none;
    border-color: black;
    border-width: 1px;
}

.webui-row-header {
    font-weight: bold;
}

/* FIXME: width and max-width are not allowed on span elements (that come from rc-com labels) */
.webui-column-value {
    max-width: "35ex";
    width: "35ex";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*
  Block-level buttons are not possible without this style.  This forces
  the override of the default style to allow the button to expand
  horizontally to cover the width of its parent.
*/
.webui-block-button > div {
    flex: 1 0 auto !important;
}

/*
  Formatting for the breadcrumbs.
*/

.webui-breadcrumbs {
    padding-left: 2ex;
    font-size: 1.5em;
    color: white;
}

.webui-breadcrumb-element {
    color: whitesmoke important!;
}

.webui-breadcrumbs-separator {
}

/*
  Styles for the top-level menubar links. The buttons/links will
  have the same color no matter what the state (inactive, active,
  hover, focus). When the cursor hovers over a button/link, then
  a white, translucent background will be used to highlight it.
  The buttons/links may have the keyboard focus; when focused,
  the default focus outline is maintained.
*/

.webui-nav-link {
    color: white;
    text-decoration: none;
}

.webui-nav-link:hover, .webui-nav-link:active, .webui-nav-link:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.25);
    text-decoration: none;
}

/*
   Overrides the colors set in the header, when modal panels
   are anchored there.
*/
.rc-modal-panel {
    color: black;
}
