.webui-column-header {
    font-weight:    bold;
    background-color: #eee;
}

.webui-row-header {
    font-weight:    bold;
}

.webui-header {
    color: black;
    background-color: #f5f5f5;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #d3d3d3;
}

.webui-footer {
    color: black;
    background-color: #f5f5f5;
    padding: 0.5em;
    border-style: solid none;
    border-width: 1px;
    border-color: #d3d3d3;
}

.webui-contents {
    color: black;
    background-color: white;
    padding: 0.5em;
    border-style: none;
}

.webui-column {
    padding: 1em;
}
